
  .card {
    text-align: left;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0em;
  }

  .cardHeading {
    text-align: center;
    font-size: 1.4em;
    margin-top: 0;
    margin-bottom: 0.9em;
    color: #6d6d6d;
  }

  .secondPara {
    margin-top: 1em;
  }

@media screen and (min-device-width: 1200px) {
  .card {
    text-align: left;
  }

  .cardHeading {
    font-size: 1.4em;
    margin-top: 0;
    margin-bottom: 0.9em;
    color: #6d6d6d;
  }

  .secondPara {
    margin-top: 1.5em;
  }
}